@model WebAPI_Swagger.Model.Fornecedor

@{
    ViewData["Title"] = "Excluir Fornecedor";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja excluir este fornecedor?</h3>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID_Produto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_Produto)
        </dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
